<table>
  <tr>
    <th>Marker file name
    <th>Created by
    <th>Number of markers
    <th>Number of populations
    <th>Last modified
<% for f in @files %>
  <tr>
    <td><%= f.name %>
    <td><%= if f.user then f.user.name else "nil" end %>
    <td><%= f.marker.length %>
    <td><%= f.population %>
    <td><%= f.updated_at %>
<% end %>
</table>
<h2>New marker file</h2>
<%= link_to "Create...", :controller => "marker_file", :action => "create" %>
