<table border>
  <tr>
    <th>Name
    <% 1.upto @locus_file.population do |i| %>
    <th>Population <%= i %>
    <% end %>
<% @locus_file.marker.each do |m| %>
  <tr>
    <td><%= m.name %>
    <% m.allele_frequency.sort_by(&:population_number).each do |a| %>
      <td>
      <%= a.freq %>
    <% end %>
<% end %>
  <tr>
    <td colspan="0">
      <% form_for :marker, :url => { :action => :create_marker, :id => @locus_file.id } do |f| %>
        <%= f.label :name, "Add marker" %>
        <%= f.text_field :name, :size => 8 %>
        <%= submit_tag 'Add' %>
      <% end %>
</table>
